{% extends 'layout.html' %}
{% load static %}
{% block title %}Средневековый квест{% endblock %}

{% block text %}
    <p>Ты мертв. Прям совсем и полностью. И никак иначе.</p>
{% endblock %}
{% block action %}
    <div>
            <form action="{% url 'main' %}" method="post">
                {% csrf_token %}
                <button type="submit" name="action" value="">Очередной круг сансары....</button>
            </form>
    </div>
{% endblock %}
{% block picture %}
    <img class="img" src="{% static 'main/img/death.jpg' %}">
{% endblock %}
{% block hero %}
    <div>
        <h4>Персонаж мертв</h4>
    </div>
{% endblock %}