{% extends 'layout.html' %}
{% load static %}
{% block title %}Средневековый квест{% endblock %}

{% block text %}
    <p>{{ actions_details.0 }}</p>
{% endblock %}
{% block action %}
    <div>
            <form action="{% url 'main' %}" method="post">
                {% csrf_token %}
                <button type="submit" name="random_action" value="">Чтож, а что далее?</button>
            </form>
    </div>
{% endblock %}
{% block picture %}
    <img class="img" src="{% static actions_details.1 %}">
{% endblock %}
{% block hero %}
    <div>
        <h4>Персонаж:</h4>
        <p>Здоровье: {{cur_hero.health}}</p>
        <p>Золото: {{cur_hero.gold}}</p>
        <p>Возраст: {{cur_hero.printHeroesAge}}</p>
        <p>Время: {{cur_time}}</p>
    </div>
{% endblock %}