body{
    background: #2c2c2c;
    color: #fff;
    font-size:10px;
}

.main{
}

.first_row{
}

.second_row{
    height: 80vh;
}

.block{
    border: 2px solid;
    border-bottom-style: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    overflow: hidden;
    padding: 0;
}

.img{
    height: 300px;
    width: 100%;
}

